@import "styling.module";

.root{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  padding: 1rem;
  margin: 0
}
.skillContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}
.skills{
  cursor: pointer;
  box-sizing: border-box;
  min-width: 21%;
  margin: 0.6rem;
  border: solid 1px $button-color;
  padding: 1rem;
  border-radius: 6px;
  span{
    text-transform: capitalize;
    @include fontStyle(1rem,normal,$text-color)
  }
}
.skillsSelected{
  background-color: #efeeee;
  border: solid 1px #486881;
  span{
    @include fontStyle(1rem,normal, #344f64)
  }
}


@media screen and (max-width: 700px){

  .root{
    padding: 0.8rem 0.2rem;
  }
  .skillContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }
  .skills{
    cursor: pointer;
    box-sizing: border-box;
    min-width: 21%;
    margin: 0.6rem;
    border: solid 1px $button-color;
    padding: 0.4rem;
    border-radius: 6px;
    span{
      text-transform: capitalize;
      @include fontStyle(1rem,normal,$text-color)
    }
  }
  .skillsSelected{
    background-color: #efeeee;
    border: solid 1px #486881;
    span{
      @include fontStyle(1rem,normal, #344f64)
    }
  }
}
